{% extends 'base.html.twig' %}

{% block title %}App | Create Short URL{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}